* {
    font-family: "Poppins";
    box-sizing: border-box;
    background-color: rgb(201, 178, 214);
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

/* This part of the code executes when device res is below 850px, allows responsiveness  */

@media (max-width: 700px) {
    .navbar {
        padding: 10px 0px;
        display: flex;
        justify-content: center;

    }

    .logocontainer {
        display: none;
    }

    .socials a {
        display: none;
    }
}

/* Navigation bar code */

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 10%;
    margin-bottom: 5px;
}

.logocontainer {
    cursor: pointer;
    width: 250px;
}

.logo {
    width: 100%;
}

.buttons {
    display: flex;
    gap: 16px;
    list-style: none;
    margin-left: 6px;
    margin-right: 6px;
}

.buttontext {
    transition: all 0.3s ease 0s;
    font-weight: 550;
    font-size: 24px;
}

.buttontext:hover {
    color: rgb(98, 34, 202);
    font-size: 26px;
    opacity: 0.6;
}

.socials {
    display: flex;
    gap: 6px;
    justify-content: space-around;
    width: 250px;
    color: white;
}

.socialsbuttons {
    width: 50px;
    transition: all 0.3s ease 0s;
}

.socialsbuttons:hover {
    opacity: 0.6;
    width: 55px;
}

/* Home Styles */

.homecontainer {
    padding: 10px 12%;
}

/* Resume Index */

.resumephoto {
    margin-right: 10px;
    width: 120px;
}

img.headshotimg {
    width: 100%;
    border-radius: 60px;
}

img.headshotimg:hover {
    border-radius: 60px;
    opacity: 0.6;
}

.resumeheadcontainer {
    padding: 10px 12%;
}

.resumelocation, .resumemail, .resumetel {
    display: flex;
}

.resumeiconcontainer {
    width: 30px;
    margin-right: 12px;
}

.resumeicon {  
    width: 100%;
    transition: all 0.3s ease 0s;
}

.resumeicon:hover {
    opacity: 0.6;
    width: 105%;
}

.resumeheadtext {
    font-weight: 500;
    font-size: 18px;
    padding: 3px;
}

.resumeheadtext a:hover {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    opacity: 0.6;
    font-size: 19px;
}

.resumenametext {
    font-size: 24px;
}

/* Projects Page */

.projectcontainer {
    display: flex;
}



/* Contact form */

.contactcontainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 33%;
}

.contactcontainer input {
    border: rgb(80, 37, 80) 4px double;
    border-radius: 15px;
    padding: 6px;
}

.contactcontainer textarea {
    border: rgb(80, 37, 80) 4px double;
    border-radius: 15px;
    padding: 6px;
    margin-bottom: 6px;
}

.contactcontainer input[type=submit] {
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.contactcontainer input[type=submit]:hover {
    width: 105%;
    opacity: 0.3;
}
